.card {
  background-color: #191a20;
  border-radius: 12px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
  padding: 16px;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.productImage {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
  margin-bottom: 1rem;
}

/* Detalhes do Produto */
.productDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: self-start;
}

.productName {
  font-size: 18px;
  margin-bottom: 0.5rem;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  line-height: 140%;
}

/* Preço e Ícone */
.productPrice {
  display: flex; 
  align-items: center; 
  column-gap: 8px;
  margin-bottom: 1rem;  
}

.ellipseIcon {
  width: 24px; 
  height: 24px;
}

.priceValue {
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
}

.buyButton {
  font-family: 'Poppins', sans-seri;
  width: 100%;
  background-color: #393939;
  color: white;
  border: none;
  padding: 10px 6px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;


  &:hover {
    background-color: #FF8310;
    color: white;
  }
  
  }