.productContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  /* Responsividade */
  @media (max-width: 768px) {
    padding: 1rem;
  }
}

.productContent {
  display: flex;
  padding: 2rem;
  gap: 2rem;
  flex: 1;

  /* Responsividade */
  @media (max-width: 768px) {
    flex-direction: column; /* Ajusta para coluna em tablets */
    padding: 1rem;
    gap: 1.5rem;
  }

  @media (max-width: 480px) {
    padding: 0.5rem;
    gap: 1rem; /* Reduz o espaço entre os elementos */
  }
}

.productImage {
  width: 50%;
  max-width: 500px;
  object-fit: cover;
  border-radius: 8px;

  /* Responsividade */
  @media (max-width: 768px) {
    width: 100%; /* Ocupa 100% da largura em telas menores */
  }
}

.productInfo {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  /* Responsividade */
  @media (max-width: 768px) {
    text-align: center; /* Centraliza o conteúdo em tablets */
    align-items: center;
  }
}

.productName {
  font-size: 2rem;
  font-weight: bold;

  /* Responsividade */
  @media (max-width: 768px) {
    font-size: 1.5rem; /* Reduz o tamanho da fonte para tablets */
  }

  @media (max-width: 480px) {
    font-size: 1.2rem; /* Reduz ainda mais o tamanho no mobile */
  }
}

.productDescription {
  font-size: 1rem;
  color: #666;

  /* Responsividade */
  @media (max-width: 480px) {
    font-size: 0.9rem; /* Diminui a fonte para celulares */
  }
}

.productPrice {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;

  /* Responsividade */
  @media (max-width: 768px) {
    justify-content: center; /* Centraliza o preço em tablets */
  }

  @media (max-width: 480px) {
    font-size: 1.2rem; /* Reduz o tamanho da fonte no mobile */
  }
}

.ethIcon {
  width: 24px;
  height: 24px;

  /* Responsividade */
  @media (max-width: 480px) {
    width: 20px;
    height: 20px;
  }
}

.buyButton {
  background-color: #FF8310;
  color: white;
  border: none;
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #E65B00;
  }

  /* Responsividade */
  @media (max-width: 768px) {
    font-size: 0.9rem; /* Ajusta fonte no tablet */
    padding: 0.8rem 1.5rem; /* Reduz o padding em tablets */
  }

  @media (max-width: 480px) {
    font-size: 0.8rem; /* Fonte menor no mobile */
    padding: 1rem 3rem; /* Compacta o botão no mobile */
  }
}