.card {
  background-color: #191a20;
  border-radius: 12px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
  padding: 16px;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  /* Ajuste responsivo */
  @media (max-width: 768px) {
    padding: 12px;
    border-radius: 10px;
  }

  @media (max-width: 480px) {
    padding: 10px;
    border-radius: 8px;
  }
}

.productImage {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
  margin-bottom: 1rem;

  /* Ajustes para dispositivos menores */
  @media (max-width: 768px) {
    border-radius: 10px;
  }

  @media (max-width: 480px) {
    border-radius: 8px;
  }
}

.productDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  /* Ajuste responsivo */
  @media (max-width: 480px) {
    align-items: center;
    text-align: center; 
  }
}

.productName {
  font-size: 18px;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  margin-bottom: 0.5rem;

  @media (max-width: 768px) {
    font-size: 16px;
  }

  @media (max-width: 480px) {
    font-size: 14px;
  }
}

.productPrice {
  display: flex;
  align-items: center;
  column-gap: 8px;
  margin-bottom: 1rem;

  @media (max-width: 480px) {
    justify-content: center;
  }
}

.ellipseIcon {
  width: 24px;
  height: 24px;

  @media (max-width: 768px) {
    width: 20px;
    height: 20px;
  }

  @media (max-width: 480px) {
    width: 18px;
    height: 18px;
  }
}

.priceValue {
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #ffffff;

  @media (max-width: 768px) {
    font-size: 14px;
  }

  @media (max-width: 480px) {
    font-size: 12px;
  }
}

.buyButton {
  font-family: "Poppins", sans-serif;
  width: 100%;
  background-color: #393939;
  color: white;
  border: none;
  padding: 10px 6px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #ff8310;
    color: white;
  }

  @media (max-width: 768px) {
    font-size: 11px;
    padding: 8px 5px;
  }

  @media (max-width: 480px) {
    font-size: 10px;
    padding: 6px 4px;
    border-radius: 4px;
  }
}